.cardInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2.5%;
    position: relative;
    min-width: 0;
}

.company-pic img{
    object-fit: scale-down;
    width: 100%;
}

.company{
    font-weight: bold;
    text-transform: uppercase;
}

.company-pic{
    width: 25%;
}

.company-info{
    text-align: left;
    flex: 1;
}

.date, .location{
    color: grey;
}


.company-description{
    text-align: left;
}

.topCard{
    display:flex
}

.project-card{
    padding-top: 5%;
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    position: relative;
    justify-content: center;
}

.title{
    font-weight: bold;
}



