.card{
    display: flex;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}
.company-pic img{
    object-fit: contain;
    width: 50%;
    align-self: left;
}

.company{
    font-weight: bold;
    text-transform: uppercase;
}

.company-pic{
    width: 20%;
    object-fit: cover;
    overflow: hidden;
}

.company-info{
    text-align: left;
}

.date, .location{
    color: grey;
}


.description{
    text-align: left;
}

.project-card{
    padding-top: 5%;
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    /* border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; */
    position: relative;
}

.title{
    font-weight: bold;
}
