
.external-links , .internal-links{
    list-style: none;

}

.external-links li{
    display:inline-block;
    padding: 0px 20px;
}

.internal-links li{
    display:inline-block;
    padding: 0px 20px;
}

.internal-links li a{
    transition: all 0.3s ease 0s;
}

a{
    color: #edf0f1;
    text-decoration-line:none;
}

.internal-links li a:hover{
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
    text-decoration: none;
    width: 100%;
}

